{
  sources: [
    {
      name: "UserSpecified",
      comment: "use to annotate user input"
    },
    {
      name: "Cookies",
      comment: "use to annotate user cookies"
    }
  ],

  sinks: [
    {
      name: "RemoteCodeExecution",
      comment: "use to annotate execution of code"
    },
    {
      name: "CrossSiteScripting",
      comment: "use to annotate where data can cause XSS"
    },
    {
      name: "Logging",
      comment: "use to annotate where data is logged"
    }
  ],

  features: [],

  rules: [
    {
      name: "Possible shell injection",
      code: 1,
      sources: [
        "UserSpecified"
      ],
      sinks: [
        "RemoteCodeExecution"
      ],
      message_format: "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      name: "Possible cross site scripting",
      code: 2,
      sources: [
        "UserSpecified"
      ],
      sinks: [
        "CrossSiteScripting"
      ],
      message_format: "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      name: "Possible cookies logged",
      code: 3,
      sources: [
        "Cookies"
      ],
      sinks: [
        "Logging"
      ],
      message_format: "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    }
  ]
}